@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Rubik:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

button {
  border: none;
  outline: none;
  padding: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: rgba(255, 255, 255, 0.6);
  font-size: 36px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
}

button.secondary {
  position: absolute;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.6;
  border-radius: 8px !important;
  width: 100%;
  background: #262626;
  -webkit-transition: background 200ms ease-out;
  transition: background 200ms ease-out;
}

button.secondary:hover {
  background: rgba(255, 255, 255, 0.25);
}

@media screen and (min-width: 600px) {
  button.secondary {
    max-width: 120px;
  }
}

button.primary {
  background: rgba(255, 255, 255, 0.15);
  -webkit-transition: background 200ms ease-out;
  transition: background 200ms ease-out;
}

button.primary svg {
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

button.primary:hover {
  background: rgba(255, 255, 255, 0.2);
}

button.primary:hover svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

button.next {
  right: -70%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 600px) {
  button.next {
    right: 0%;
  }
}

button.previous {
  left: -70%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 600px) {
  button.previous {
    left: 0%;
  }
}

button svg {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 1;
  height: 24px;
  width: 24px;
}

button svg,
button svg,
button i {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input[type="range"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  width: 72px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  margin-top: -4px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.15);
  height: 4px;
  border-radius: 6px;
}

.custom-input-slider {
  background-color: white;
  height: 4px;
  width: 0%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 6px 0 0 6px;
  pointer-events: none;
}

input,
textarea,
button,
select,
a,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-moz-selection {
  color: black;
  background: rgba(255, 255, 255, 0.5);
}

::selection {
  color: black;
  background: rgba(255, 255, 255, 0.5);
}

html {
  overflow: hidden;
}

body {
  background-color: #111111;
  font-family: "Poppins", sans-serif;
  color: white;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo {
  font-size: 18px;
  padding: 24px;
}

#logo .logo-first {
  font-weight: bold;
}

#logo .logo-second {
  font-weight: 200;
}

.audio-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.audio-controls button {
  background: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 24px;
}

.audio-controls button svg {
  height: 24px;
  width: 24px;
}

.audio-controls .more-controls {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 24px 0;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

.audio-controls .more-controls .audio-volume-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.audio-controls .more-controls .audio-volume-container label {
  font-size: 12px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: -8px;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.audio-controls .more-controls .audio-volume-container:hover label {
  opacity: 1;
}

.audio-controls:hover .more-controls {
  width: 72px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 600px) {
  main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.timer-container {
  font-size: 48px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.exercise-container {
  margin-left: 48px;
  font-size: 36px;
  position: relative;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  max-width: 500px;
}

@media screen and (min-width: 600px) {
  .exercise-container {
    margin-left: 0;
  }
}

.exercise-container .exercise-index {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: 24px 16px;
  height: 32px;
  width: 100vw;
  top: 0;
  left: 32px;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  z-index: 10;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .exercise-container .exercise-index {
    height: 48px;
    width: 48px;
    left: 0px;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.exercise-container .exercise-warper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 600px) {
  .exercise-container .exercise-warper {
    padding: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.exercise-container #exercise {
  padding: 12px 0;
  margin-right: 24px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  display: block;
  text-align: left;
  overflow: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (min-width: 600px) {
  .exercise-container #exercise {
    padding: 24px 0;
    text-align: center;
  }
}

.exercise-container .check-image {
  display: none;
  margin-right: 96px;
  width: 96px;
}

.exercise-container .exercise-tutorial {
  padding: 24px;
  padding-right: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.exercise-container .exercise-tutorial p {
  margin-right: 24px;
  height: 100%;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.exercise-container .exercise-tutorial .dropDown-icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.exercise-container .exercise-tutorial svg {
  opacity: 0.5;
  height: 32px;
  margin-top: -3px;
}

.control-buttons {
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px 0;
  gap: 20px;
}

@media screen and (min-width: 600px) {
  .control-buttons {
    max-width: 400px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 48px 0;
  }
}

.control-buttons button {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}

.default-card {
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.24);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background: rgba(17, 17, 17, 0.9);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 600px) {
  .modal {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.modal .modal-content {
  padding: 36px;
  padding-right: 60px;
  margin-left: 24px;
  width: 100vw;
}

@media screen and (min-width: 600px) {
  .modal .modal-content {
    width: 800px;
    margin-right: -24px;
  }
}

.modal-header {
  position: relative;
}

.modal-header button {
  position: absolute;
  top: 0;
  right: 24px;
  z-index: 100;
  padding: 16px;
  width: 96px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transform: translate(24px, -50%);
          transform: translate(24px, -50%);
  color: rgba(255, 255, 255, 0.5);
}

.modal-header button svg {
  height: 24px;
}

@media screen and (min-width: 600px) {
  .modal-header button {
    height: 48px;
    right: -24px;
  }
}
/*# sourceMappingURL=styles.css.map */