* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

button {
  border: none;
  outline: none;
  padding: $paddingDefault/1.5;
  user-select: none;
  &.secondary {
    position: absolute;
    transform: scale($btn-scale-secondary);
    opacity: $btn-opacity-secondary;
    border-radius: 8px !important;
    // width: $paddingDefault * 4;
    width: 100%;
  }
  background: $whiteAlpha;
  font-size: $fontSize-small;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    pointer-events: none;
    user-select: none;
    opacity: 1;
    height: $fontSize-medium;
    width: $fontSize-medium;
  }
  img,
  svg,
  i {
    user-select: none;
  }
  @include mobile {
    padding: $paddingDefault $paddingDefault;
  }
}

input[type="range"] {
  appearance: none;
  background: transparent;
  width: 72px;
  &::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $background-default;
    cursor: pointer;
    margin-top: -4px;
  }
  &::-webkit-slider-runnable-track {
    background: $btn-background-color;
    height: 4px;
    border-radius: 6px;
  }
}

.custom-input-slider {
  background-color: white;
  height: 4px;
  width: 0%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 6px 0 0 6px;
  pointer-events: none;
}
