* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
  outline: none;
  padding: $paddingDefault;
  &.secondary {
    transform: scale($btn-scale-secondary);
    opacity: $btn-opacity-secondary;
  }
  background: $whiteAlpha;
  font-size: $fontSize-small;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    pointer-events: none;
    opacity: 0.6;
    height: $fontSize-small;
    width: $fontSize-small;
  }
  @include mobile {
    padding: $paddingDefault $paddingDefault;
  }
}
