$paddingLess: 12px;
$paddingDefault: 24px;
$marginLess: 12px;
$marginDefault: 24px;
$blackAlpha: rgba(0, 0, 0, 0.2);
$whiteAlpha: rgba(255, 255, 255, 0.2);
$fontSize-small: 16px;
$fontSize-default: 24px;
$fontSize-medium: 32px;
$fontSize-large: 64px;
