@import "variables";
@import "mediaQueries";
@import "defaults";

//fonts

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Rubik:wght@300;400;500;600&display=swap");

html {
  overflow: hidden;
}
body {
  background-color: $default-background;
  font-family: "Poppins", sans-serif;
  color: white;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 18px;
  padding: $paddingDefault;
  .logo-first {
    font-weight: bold;
  }
  .logo-second {
    font-weight: 200;
  }
}

.audio-controls {
  display: flex;
  align-items: center;
  button {
    background: none;
    order: 1;
    padding: $paddingDefault;
    svg {
      height: $fontSize-default;
      width: $fontSize-default;
    }
  }
  .more-controls {
    flex: 1;
    padding: $paddingDefault 0;
    width: 0;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
    .audio-volume-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      position: relative;
      label {
        font-size: $fontSize-small - 4px;
        font-weight: bold;
        color: rgba($color: #fff, $alpha: 0.8);
        position: absolute;
        top: -8px;
        left: 50%;
        transform: translate(-50%, -100%);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease-in-out;
      }

      &:hover {
        label {
          opacity: 1;
        }
      }
    }
  }
  &:hover {
    .more-controls {
      width: 72px;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;

  @include desktop {
    justify-content: center;
  }
}

.timer-container {
  font-size: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  opacity: 0;
  transform: translateY(50px);
}
.exercise-container {
  margin-left: $marginDefault * 2;
  font-size: $fontSize-medium;
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 2px;
  max-width: 500px;
  @include desktop {
    margin-left: 0;
  }
  .exercise-index {
    font-size: $fontSize-default;
    color: $alpha-color;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    padding: $paddingDefault $paddingDefault / 1.5;
    height: 32px;
    width: 100vw;
    top: 0;
    left: 32px;
    transform: translate(-100%, -50%);
    z-index: 10;
    transform-origin: bottom right;
    overflow: hidden;
    @include desktop {
      height: 48px;
      width: 48px;
      left: 0px;
      padding: 0;
      justify-content: center;
      align-items: center;
      transform: translate(-50%, -50%);
    }
  }
  .exercise-warper {
    display: flex;
    @include desktop {
      padding: $paddingDefault;
      justify-content: center;
    }
  }
  #exercise {
    padding: $paddingLess 0;
    margin-right: $marginDefault;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    display: block;
    text-align: left;
    overflow: hidden;
    height: fit-content;
    @include desktop {
      padding: $paddingDefault 0;
      text-align: center;
    }
  }
  .check-image {
    display: none;
    margin-right: $paddingDefault * 4;
  }
  .exercise-tutorial {
    padding: $paddingDefault;
    padding-right: $marginDefault + $paddingDefault;
    display: flex;
    font-size: $fontSize-small + 2px;
    color: $less-alpha-color;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    p {
      margin-right: $marginDefault;
      height: 100%;
      width: 50%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      user-select: none;
    }
    .dropDown-icon {
      flex: 1;
      align-self: flex-start;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      user-select: none;
    }
    svg {
      opacity: 0.5;
      height: 32px;
      margin-top: -3px;
    }
  }
}

.control-buttons {
  position: relative;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: $paddingDefault 0;
  gap: $control-btn-gap;

  @include desktop {
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
    padding: $paddingDefault * 2 0;
  }
  button {
    background: $btn-background-color;
    border-radius: 50%;
  }
}

.default-card {
  padding: $paddingDefault;
  background-color: $card-background-color;
  border-radius: $default-border-radius;
  box-shadow: $card-box-shadow;
  backdrop-filter: blur($card-blur);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background: rgba($color: $default-background, $alpha: 0.9);
  align-items: center;
  @include desktop {
    justify-content: flex-end;
  }
  .modal-content {
    padding: $paddingDefault * 1.5;
    padding-right: $paddingDefault * 1.5 + $marginDefault;
    margin-left: $marginDefault;
    width: 100vw;
    @include desktop {
      width: 800px;
      margin-right: -$paddingDefault;
    }
  }
}
.modal-header {
  position: relative;
  button {
    position: absolute;
    top: 0;
    right: $marginDefault;
    z-index: 100;
    padding: $paddingDefault / 1.5;
    width: $paddingDefault * 4;
    justify-content: flex-start;
    transform: translate($paddingDefault, -50%);
    color: $alpha-color;
    svg {
      height: $fontSize-default;
    }
    @include desktop {
      height: 48px;
      right: -$paddingDefault;
    }
  }
}
