@import "variables";
@import "mediaQueries";
@import "defaults";

//fonts

// @import url("https://fonts.googleapis.com/css2?family=Rubik&family=Poppins:wght@200,300;400;600;700;800&&family=Noto+Sans&family=Robot&family=Open+Sans:wght@300;400;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Rubik:wght@300;400;500;600&display=swap");

html {
  overflow: hidden;
}
body {
  background-color: $default-background;
  font-family: "Poppins", sans-serif;
  color: white;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 18px;
  padding: $paddingDefault;
  .logo-first {
    font-weight: bold;
  }
  .logo-second {
    font-weight: 200;
  }
}

.audio-controls {
  display: flex;
  align-items: center;
  button {
    background: none;
    order: 1;
    padding: $paddingDefault;
    img {
      height: $fontSize-default;
      width: $fontSize-default;
    }
  }
  .more-controls {
    flex: 1;
    padding: $paddingDefault 0;
    width: 0;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
    .audio-volume-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      position: relative;
      label {
        font-size: $fontSize-small - 4px;
        font-weight: bold;
        color: rgba($color: #fff, $alpha: 0.8);
        position: absolute;
        top: -8px;
        left: 50%;
        transform: translate(-50%, -100%);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease-in-out;
      }

      &:hover {
        label {
          opacity: 1;
        }
      }
    }
  }
  &:hover {
    .more-controls {
      width: 72px;
    }
  }
}

main {
  display: grid;
  grid-template-rows: 20vh 1fr;
  align-items: center;
}

.timer-container {
  font-size: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1/2;
}
.exercise-container {
  grid-row: 2/-1;
  margin-left: $marginDefault;
  font-size: $fontSize-medium;
  position: relative;
  width: 100vw;
  .exercise-index {
    font-size: $fontSize-default;
    color: $alpha-color;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    padding: $paddingDefault $paddingDefault / 1.5;
    height: 32px;
    width: 100vw;
    top: 0;
    left: 32px;
    transform: translate(-100%, -50%);
    z-index: 10;
  }
  #exercise {
    margin-left: $marginDefault;
    // padding: $paddingLess 0;
    margin-right: $marginDefault;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    display: block;
  }
  .exercise-tutorial {
    padding: $paddingDefault;
    padding-right: $marginDefault + $paddingDefault;
    display: flex;
    margin-top: 2px;
    font-size: $fontSize-small + 2px;
    color: $less-alpha-color;
    align-items: center;
    p {
      margin-right: $marginDefault;
      height: 100%;
      width: 50%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .dropDown-icon {
      flex: 1;
      align-self: flex-start;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    img {
      opacity: 0.5;
      height: 32px;
      margin-top: -3px;
    }
  }
}

.control-buttons {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: $paddingDefault * 2 $paddingLess;
  gap: $control-btn-gap;

  button {
    background: $btn-background-color;
    border-radius: 50%;
  }
}

.default-card {
  padding: $paddingDefault $paddingDefault;
  background-color: $card-background-color;
  border-radius: $default-border-radius;
  box-shadow: $card-box-shadow;
  backdrop-filter: blur($card-blur);
}
/*
body {
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 2fr;
  font-family: "Roboto", "Noto Sans", "Open Sans", sans-serif;
  font-size: $fontSize-default;
  background-color: $default-background;
  transition: background-color $transition-duration ease-in-out;
  color: white;

  header {
    grid-row: 1/2;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {
      text-transform: uppercase;
      font-size: $fontSize-medium;
      font-weight: 500;
    }
  }
  main {
    width: 100%;
    margin: 0 auto;
    align-self: flex-start;
    grid-row: 2/-2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: $marginDefault;
  }
}

.audio-controls {
  position: absolute;
  top: $paddingDefault;
  right: $paddingDefault;
  display: flex;
  align-items: center;
  button {
    background: none;
    order: 1;
    img {
      height: $fontSize-default;
      width: $fontSize-default;
    }
  }
  .more-controls {
    flex: 1;
    padding: $paddingDefault 0;
    width: 0;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
    .audio-volume-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      position: relative;
      label {
        font-size: $fontSize-small - 4px;
        font-weight: bold;
        color: rgba($color: #000000, $alpha: 0.8);
        position: absolute;
        top: -8px;
        left: 50%;
        transform: translate(-50%, -100%);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease-in-out;
      }

      &:hover {
        label {
          opacity: 1;
        }
      }
    }
  }
  &:hover {
    .more-controls {
      width: 72px;
    }
  }
  @include mobile {
    top: $paddingDefault - 18px;
    right: $paddingDefault - 18px;
  }
}

.timer-container {
  span {
    font-size: $fontSize-large;
    color: $blackAlpha;
    font-weight: 700;
    @include mobile {
      font-size: $fontSize-medium * 2;
    }
  }
}

.exercise-container {
  display: flex;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
  height: $paddingDefault * 6.5;
  overflow-x: hidden;
  overflow-y: scroll;
  span {
    font-size: $fontSize-large;
  }
  &::-webkit-scrollbar {
    background: transparent;
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background: $whiteAlpha;
  }
}

.control-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $marginDefault * 2;
  flex-wrap: wrap;
  position: fixed;
  bottom: $paddingDefault;
  left: 0;
  width: 100%;
  backdrop-filter: blur(26px);
  button {
    border: $btn-border;
    border-radius: 50%;
    background: $whiteAlpha;
  }
  // margin-top: $marginDefault * 4;
}

*/
