@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  padding: 24px 72px;
  background: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button img {
  pointer-events: none;
  opacity: 0.6;
  height: 16px;
  width: 16px;
}

@media screen and (max-width: 400px) {
  button {
    padding: 18px 48px;
  }
}

body {
  min-height: 100vh;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  background-color: cornflowerblue;
  -webkit-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}

body header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body header h1 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 500;
}

body main {
  width: 100%;
  margin: 0 auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
  grid-row: 2/-2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2vh;
}

.audio-controls {
  position: absolute;
  top: 24px;
  right: 24px;
}

.audio-controls button {
  background: none;
}

.audio-controls button img {
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 400px) {
  .audio-controls {
    top: 6px;
    right: 6px;
  }
}

.timer-container span {
  font-size: clamp(38px, 5vw, 64px);
  color: rgba(0, 0, 0, 0.2);
  font-weight: 700;
}

@media screen and (max-width: 400px) {
  .timer-container span {
    font-size: 64px;
  }
}

.exercise-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 156px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.exercise-container span {
  font-size: clamp(38px, 5vw, 64px);
}

.exercise-container::-webkit-scrollbar {
  background: transparent;
  width: 12px;
}

.exercise-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}

.control-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=styles.css.map */