@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Rubik:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

button {
  border: none;
  outline: none;
  padding: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button.secondary {
  position: absolute;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.6;
  border-radius: 8px !important;
  width: 100%;
}

button.primary {
  -webkit-animation: opacity 0.7s ease-in-out;
          animation: opacity 0.7s ease-in-out;
}

button img {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 1;
  height: 36px;
  width: 36px;
}

button img,
button svg,
button i {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 400px) {
  button {
    padding: 24px 24px;
  }
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input[type="range"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  width: 72px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  margin-top: -4px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.15);
  height: 4px;
  border-radius: 6px;
}

.custom-input-slider {
  background-color: white;
  height: 4px;
  width: 0%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 6px 0 0 6px;
  pointer-events: none;
}

html {
  overflow: hidden;
}

body {
  background-color: #111111;
  font-family: "Poppins", sans-serif;
  color: white;
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo {
  font-size: 18px;
  padding: 24px;
}

#logo .logo-first {
  font-weight: bold;
}

#logo .logo-second {
  font-weight: 200;
}

.audio-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.audio-controls button {
  background: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 24px;
}

.audio-controls button img {
  height: 24px;
  width: 24px;
}

.audio-controls .more-controls {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 24px 0;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

.audio-controls .more-controls .audio-volume-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.audio-controls .more-controls .audio-volume-container label {
  font-size: 12px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: -8px;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.audio-controls .more-controls .audio-volume-container:hover label {
  opacity: 1;
}

.audio-controls:hover .more-controls {
  width: 72px;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20vh 1fr;
      grid-template-rows: 20vh 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer-container {
  font-size: 48px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.exercise-container {
  grid-row: 2/-1;
  margin-left: 24px;
  font-size: 36px;
  position: relative;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}

.exercise-container .exercise-index {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: 24px 16px;
  height: 32px;
  width: 100vw;
  top: 0;
  left: 32px;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  z-index: 10;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  overflow: hidden;
}

.exercise-container .exercise-warper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exercise-container #exercise {
  padding: 12px 0;
  margin-right: 24px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  display: block;
  text-align: left;
  overflow: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.exercise-container .check-image {
  display: none;
  margin-right: 96px;
}

.exercise-container .exercise-tutorial {
  padding: 24px;
  padding-right: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.exercise-container .exercise-tutorial p {
  margin-right: 24px;
  height: 100%;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.exercise-container .exercise-tutorial .dropDown-icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.exercise-container .exercise-tutorial img {
  opacity: 0.5;
  height: 32px;
  margin-top: -3px;
}

.control-buttons {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px 0;
  gap: 20px;
}

.control-buttons button {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}

.default-card {
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.24);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background: rgba(17, 17, 17, 0.9);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-content {
  padding: 36px;
  padding-right: 60px;
  margin-left: 24px;
  width: 100vw;
}

.modal-header {
  position: relative;
}

.modal-header button {
  position: absolute;
  top: 0;
  right: 24px;
  z-index: 100;
  padding: 16px;
  width: 96px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transform: translate(24px, -50%);
          transform: translate(24px, -50%);
  color: rgba(255, 255, 255, 0.5);
}

.modal-header button img {
  height: 24px;
}

/*
body {
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 2fr;
  font-family: "Roboto", "Noto Sans", "Open Sans", sans-serif;
  font-size: $fontSize-default;
  background-color: $default-background;
  transition: background-color $transition-duration ease-in-out;
  color: white;

  header {
    grid-row: 1/2;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {
      text-transform: uppercase;
      font-size: $fontSize-medium;
      font-weight: 500;
    }
  }
  main {
    width: 100%;
    margin: 0 auto;
    align-self: flex-start;
    grid-row: 2/-2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: $marginDefault;
  }
}

.audio-controls {
  position: absolute;
  top: $paddingDefault;
  right: $paddingDefault;
  display: flex;
  align-items: center;
  button {
    background: none;
    order: 1;
    img {
      height: $fontSize-default;
      width: $fontSize-default;
    }
  }
  .more-controls {
    flex: 1;
    padding: $paddingDefault 0;
    width: 0;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
    .audio-volume-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      position: relative;
      label {
        font-size: $fontSize-small - 4px;
        font-weight: bold;
        color: rgba($color: #000000, $alpha: 0.8);
        position: absolute;
        top: -8px;
        left: 50%;
        transform: translate(-50%, -100%);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease-in-out;
      }

      &:hover {
        label {
          opacity: 1;
        }
      }
    }
  }
  &:hover {
    .more-controls {
      width: 72px;
    }
  }
  @include mobile {
    top: $paddingDefault - 18px;
    right: $paddingDefault - 18px;
  }
}

.timer-container {
  span {
    font-size: $fontSize-large;
    color: $blackAlpha;
    font-weight: 700;
    @include mobile {
      font-size: $fontSize-medium * 2;
    }
  }
}

.exercise-container {
  display: flex;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
  height: $paddingDefault * 6.5;
  overflow-x: hidden;
  overflow-y: scroll;
  span {
    font-size: $fontSize-large;
  }
  &::-webkit-scrollbar {
    background: transparent;
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background: $whiteAlpha;
  }
}

.control-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $marginDefault * 2;
  flex-wrap: wrap;
  position: fixed;
  bottom: $paddingDefault;
  left: 0;
  width: 100%;
  backdrop-filter: blur(26px);
  button {
    border: $btn-border;
    border-radius: 50%;
    background: $whiteAlpha;
  }
  // margin-top: $marginDefault * 4;
}

*/
/*# sourceMappingURL=styles.css.map */